@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #2f855a;
  --accent: #f6ad55;
}

body { @apply bg-white text-gray-800 antialiased; }
a { @apply text-primary hover:underline; }

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
